html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Título de la página */
h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
}

/* Formulario */
form {
    background-color: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas del formulario */
label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

/* Estilos para los inputs del formulario */
input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón de submit */
button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Header Styles */
header {
    background-color: #333333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}

.logo-container img {
    max-height: 50px;
}

.navbar {
    display: flex;
    flex-direction: column;

}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-self: center;

}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFD700;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    margin-top: auto;
    /* Mueve el footer al fondo */
}