/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    color: #ff6600; /* Naranja */
  }
  
  form {
    background-color: #f5f5f5; /* Gris claro para el fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ff6600; /* Naranja */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #cc5200; /* Naranja más oscuro al pasar el ratón */
  }
  
  h2 {
    color: #000000; /* Negro */
    margin-top: 20px;
    text-align: center;
  }
  
  h2 button {
    background-color: #000000; /* Negro */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  h2 button:hover {
    background-color: #333333; /* Negro más claro al pasar el ratón */
  }
  