:root {
    --color-primary: #FF6600;
    --color-secondary: #333333;
    --color-accent: #FFD700;
    --color-background: #F5F5F5;
    --color-text: #2C3E50;
    --color-hover-primary: #e55b00;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--box-shadow-color); /* Fondo claro */
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    
  }
header {
    background-color: var(--color-secondary);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container img {
    max-height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-self: center;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--color-accent);
}
h1 {
    text-align: center;
}
#productList {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
}
.product-item {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.product-item span {
    flex: 1;
}
.product-item button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.product-item button:hover {
    background-color: #0056b3;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #218838;
}
