:root {
    --color-primary: #FF6600;
    --color-secondary: #333333;
    --color-accent: #FFD700;
    --color-background: #F5F5F5;
    --color-text: #2C3E50;
    --color-hover-primary: #e55b00;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}
html,
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--box-shadow-color); /* Fondo claro */
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    
  }

/* Header Styles */
header {
    background-color: var(--color-secondary);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container img {
    max-height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-self: center;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--color-accent);
}

/* Contenedor principal que ocupa el espacio disponible */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para la tabla */
#productosTable {
    width: 80%;
    /* Ajusta el tamaño de la tabla, puedes cambiar el 80% a cualquier valor */
    margin: 20px auto;
    /* Centra la tabla horizontalmente */
    border-collapse: collapse;
    /* Elimina los espacios entre celdas */
    text-align: center;
    /* Centra el texto dentro de las celdas */
}

#productosTable th,
#productosTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

#productosTable th {
    background-color: #f4f4f4;
}

#productosTable img {
    width: 50px;
    height: 50px;
}

/* Formulario de edición centrado */
#editProductForm {
    width: 80%;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#editProductoForm input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editProductoForm button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editProductoForm button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    margin-top: auto;
    /* Mueve el footer al fondo */
}